<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="mpilo_logo" src="assets/img/mpilo_logo.png" alt="mpilo_logo">
        </div>
        <div class="col-md-9">
          <h2 style="text-align: center">Mesa de partes Virtual</h2>
        </div>
        <div class="col-md-12">
          <div _ngcontent-scn-c2="" class="card-body">
            <div _ngcontent-scn-c2="" class="row"></div><hr>
            <form _ngcontent-scn-c2="" class="user ng-invalid ng-touched ng-dirty" novalidate="">
              <div _ngcontent-scn-c2="" class="row">
                <div _ngcontent-scn-c2="" class="alert alert-primary font-weight-bold text-primary col-lg-12">1.
                  IDENTIFICACIÓN DEL SOLICITANTE </div>
              </div>
              <div _ngcontent-scn-c2="" class="row">
                <div _ngcontent-scn-c2="" class="form-group col-lg-4"><label _ngcontent-scn-c2="" for="tipo_doc">Tipo de
                    Documento</label>
                  <div _ngcontent-scn-c2="" class="input-group">
                    <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                        class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                          class="fa fa-address"></i></span></div><select _ngcontent-scn-c2=""
                      class="form-control ng-pristine ng-valid ng-touched" formcontrolname="tipo_doc" name="tipo_doc">
                      
                      <!--<i class="fa fa-address-card" aria-hidden="true"></i>-->
                      <option _ngcontent-scn-c2="" value="0: Object">PERSONA NATURAL</option>
                      <option _ngcontent-scn-c2="" value="1: Object">PERSONA JURIDICA</option>
                    </select>
                  </div>
                </div>
                <!---->
                <div _ngcontent-scn-c2="" class="form-group col-lg-4">
                  <div _ngcontent-scn-c2="" class="col-xs-2"><label _ngcontent-scn-c2="" for="ndoc">Numero de DNI:
                    </label><span _ngcontent-scn-c2="" class="required">*</span>
                    <div _ngcontent-scn-c2="" class="input-group">
                      <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                          class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                            class="fas fa-sort-numeric-up"></i></span></div><input _ngcontent-scn-c2="" appnumberonly=""
                        class="form-control ng-dirty ng-valid ng-touched" formcontrolname="ndoc" maxlength="8"
                        name="ndoc" size="1">
                    </div>
                  </div>
                </div>
                <!---->
                <div _ngcontent-scn-c2="" class="form-group col-lg-4">
                  <div _ngcontent-scn-c2="" class="col-xs-2"><label _ngcontent-scn-c2="" for="ndoc"
                      style="font-size: 11pt;margin-bottom: .6rem;">Numero Verifica DNI: </label><span
                      _ngcontent-scn-c2="" class="required" style="cursor:pointer"><i _ngcontent-scn-c2=""
                        aria-hidden="true" class="fas fa-question-circle"></i></span>
                    <div _ngcontent-scn-c2="" class="input-group">
                      <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                          class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                            class="fas fa-sort-numeric-up"></i></span></div><input _ngcontent-scn-c2="" appnumberonly=""
                        class="form-control ng-dirty ng-touched ng-invalid" formcontrolname="code_verifica"
                        id="code_verifica" maxlength="1" name="code_verifica">
                    </div>
                  </div>
                </div>
                <!---->
                <!---->
              </div>
              <!---->
              <div _ngcontent-scn-c2="" class="row">
                <div _ngcontent-scn-c2="" class="form-group col-lg-12"><label _ngcontent-scn-c2="" for="ape_nom">Nombre
                    de Solicitante: </label>
                  <div _ngcontent-scn-c2="" class="input-group">
                    <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                        class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                          class="fa fa-users"></i></span></div><input _ngcontent-scn-c2=""
                      class="form-control ng-pristine ng-invalid ng-touched" formcontrolname="ape_nom" name="ape_nom"
                      readonly="">
                  </div>
                </div>
              </div>
              <div _ngcontent-scn-c2="" class="row">
                <div _ngcontent-scn-c2="" class="form-group col-lg-4"><label _ngcontent-scn-c2=""
                    for="phone">Celular:</label><span _ngcontent-scn-c2="" class="required">*</span>
                  <div _ngcontent-scn-c2="" class="input-group">
                    <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                        class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                          class="fa fa-mobile-alt"></i></span></div><input _ngcontent-scn-c2="" appnumberonly=""
                      class="form-control ng-pristine ng-invalid ng-touched" formcontrolname="phone" maxlength="15"
                      name="phone" placeholder="Ingrese un numero celular">
                  </div>
                </div>
                <div _ngcontent-scn-c2="" class="form-group col-lg-8"><label _ngcontent-scn-c2="" for="email">Email:
                  </label><span _ngcontent-scn-c2="" class="required">*</span>
                  <div _ngcontent-scn-c2="" class="input-group">
                    <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                        class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                          class="fas fa-at"></i></span></div><input _ngcontent-scn-c2=""
                      class="form-control ng-pristine ng-invalid ng-touched" formcontrolname="email" maxlength="40"
                      name="email" placeholder="Ingrese un correo electronico" type="email">
                    <!---->
                  </div>
                </div>
              </div>
              <div _ngcontent-scn-c2="" class="row">
                <div _ngcontent-scn-c2="" class="alert alert-primary font-weight-bold text-primary col-lg-12">2. DATOS
                  DEL DOCUMENTO</div>
              </div>
              <div _ngcontent-scn-c2="" class="row">
                <div _ngcontent-scn-c2="" class="form-group col-lg-4"><label _ngcontent-scn-c2=""
                    for="tipo_documento">Tipo de documento</label>
                  <div _ngcontent-scn-c2="" class="input-group">
                    <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                        class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                          class="far fa-sticky-note"></i></span></div><select _ngcontent-scn-c2=""
                      class="form-control ng-pristine ng-valid ng-touched" formcontrolname="tipo_documento"
                      id="tipo_documento" name="tipo_documento">
                      <!---->
                      <option _ngcontent-scn-c2="" value="0: 1">OFICIO</option>
                      <option _ngcontent-scn-c2="" value="1: 5">CARTA</option>
                      <option _ngcontent-scn-c2="" value="2: 6">SOLICITUD-OTROS</option>
                    </select>
                  </div>
                </div>
                <div _ngcontent-scn-c2="" class="form-group col-lg-4"><label _ngcontent-scn-c2="" for="ndocumento">Nro
                    de documento </label>
                  <div _ngcontent-scn-c2="" class="input-group">
                    <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                        class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                          class="fas fa-sort-numeric-up"></i></span></div><input _ngcontent-scn-c2="" appnumberonly=""
                      class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="ndocumento"
                      maxlength="15" name="ndocumento">
                  </div>
                </div>
                <div _ngcontent-scn-c2="" class="form-group col-lg-4"><label _ngcontent-scn-c2="" for="folio">Nro total
                    de Folios</label>
                  <div _ngcontent-scn-c2="" class="input-group">
                    <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                        class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                          class="fas fa-sort-numeric-up"></i></span></div><input _ngcontent-scn-c2="" appnumberonly=""
                      class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="folio" maxlength="4"
                      name="folio">
                  </div>
                </div>
              </div>
              <div _ngcontent-scn-c2="" class="row">
                <div _ngcontent-scn-c2="" class="form-group col-lg-12"><label _ngcontent-scn-c2="" for="asunto">Asunto:
                  </label><span _ngcontent-scn-c2="" class="required">*</span>
                  <div _ngcontent-scn-c2="" class="input-group">
                    <div _ngcontent-scn-c2="" class="input-group-prepend"><span _ngcontent-scn-c2=""
                        class="input-group-text"><i _ngcontent-scn-c2="" aria-hidden="true"
                          class="far fa-sticky-note"></i></span></div><textarea _ngcontent-scn-c2=""
                      class="form-control ng-pristine ng-invalid ng-touched" formcontrolname="asunto" id="descripcion"
                      name="asunto" placeholder="Ingrese el asunto del documento" rows="3"></textarea>
                  </div>
                </div>
              </div>
              <div _ngcontent-scn-c2="" class="row">
                <div _ngcontent-scn-c2="" class="alert alert-primary font-weight-bold text-primary col-lg-12">3.
                  ADJUNTAR DOCUMENTO</div>
              </div>
              <div _ngcontent-scn-c2="" class="row">
                <div _ngcontent-scn-c2="" class="form-group col-lg-6">
                  <div _ngcontent-scn-c2="" class="row">
                    <div>Adjuntar documento principal</div> 
                    <div _ngcontent-scn-c2="" class="form-group col-lg-12"><span _ngcontent-scn-c2=""> Adjuntar
                      </span><span _ngcontent-scn-c2="">documento principal </span><b _ngcontent-scn-c2=""> </b>
                      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                      <label class="custom-file-label" for="validatedCustomFile">Seleccione un archivo</label>
                      <!---->
                    </div>
                  </div>
                  
                  <div _ngcontent-scn-c2="" class="row">
                    <div>Anexos</div>
                    <div _ngcontent-scn-c2="" class="form-group col-lg-12"><span _ngcontent-scn-c2="">Anexos</span>
                      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                      <label class="custom-file-label" for="validatedCustomFile">Seleccione un archivo</label>
                      
                      <p _ngcontent-scn-c2=""></p><button _ngcontent-scn-c2="" class="btn btn-success" ngbautofocus=""
                        type="button" disabled="">Agregar Anexo</button>
                    </div>
                  </div>
                </div>
                
                <div _ngcontent-scn-c2="" class="form-group col-lg-6">
                  <div _ngcontent-scn-c2="" class="row tabledocs-title"
                    style="padding:0.75rem; border-bottom:2px solid #e3e6f0;border-top:1px solid #e3e6f0">
                    <div _ngcontent-scn-c2="" class="col col-md-6">Nombre Archivo</div>
                    <div _ngcontent-scn-c2="" class="col col-md-2">Tipo</div>
                    <div _ngcontent-scn-c2="" class="col col-md-3">Tamaño</div>
                    <div _ngcontent-scn-c2="" class="col col-md-1"></div>
                  </div>
                  <div _ngcontent-scn-c2="" class="row" style="font-size:0.8rem">
                    <!---->
                    <div _ngcontent-scn-c2="" class="col"
                      style="padding:0.75rem; background-color:#f2f2f2;text-align:center"> No agrego documento Principal
                    </div>
                  </div>
                  <!----><br _ngcontent-scn-c2="">
                  <div _ngcontent-scn-c2="" class="row tabledocs-title"
                    style="padding:0.75rem; border-bottom:2px solid #e3e6f0;border-top:1px solid #e3e6f0">
                    <div _ngcontent-scn-c2="" class="col col-md-6">Nombre Archivo</div>
                    <div _ngcontent-scn-c2="" class="col col-md-2">Tipo</div>
                    <div _ngcontent-scn-c2="" class="col col-md-3">Tamaño</div>
                    <div _ngcontent-scn-c2="" class="col col-md-1"></div>
                  </div>
                  <div _ngcontent-scn-c2="" class="row" style="font-size:0.8rem">
                    <!---->
                    <div _ngcontent-scn-c2="" class="col"
                      style="padding:0.75rem; background-color:#f2f2f2;text-align:center">Sin Anexos</div>
                  </div>
                  <!---->
                </div>
              </div>
              <hr>
              <div class="advertencia" align="left">*Para el documento principal y anexos el formato debe ser PDF.* Tamaño maximo de los archivos debe ser menor o igual a 10MB.</div>
              <div align="right">
                <button _ngcontent-scn-c2="" class="btn btn-success" ngbautofocus=""
                type="button" disabled="">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <!--   <div class="container">
            <img src="assets/img/mpilo_logo.png" alt="mpilo_logo">
            <h2 style="text-align: center;">Mesa de partes Virtual</h2>
          </div>
      
      
    <mat-card>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-content>
        
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      
      </mat-card>
      -->
  </div>
</div>