.table {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    background-color: #feffff;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.3);
}

.table-card {
    max-width: 1300px;
    padding-left: 40px;
    margin-top: 30px;
    margin-bottom: 8px;
    margin-left: 100px;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.3);
}

.MVP {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

h4 {
    padding-top: 5mm;
    padding-left: 135mm;
    color: rgb(30, 62, 180);
}

.flex {
    padding-left: 15px;
}

.img1 {
    padding-left: 5mm;
    padding-top: 3mm;
}