<div _ngcontent-qts-c2="" class="">
    <div _ngcontent-qts-c2="" class="login py-5 text-center">
        <div _ngcontent-qts-c2="" class="row">
            <div _ngcontent-qts-c2="" class="col-md-4 mx-auto">
                <form _ngcontent-qts-c2="" class="form-signin ng-pristine ng-invalid ng-touched" novalidate=""><span
                        _ngcontent-qts-c2="" class="title-login">SGI MPI <i _ngcontent-qts-c2=""
                            class="fas fa-home"></i></span>
                    <div _ngcontent-qts-c2="" class="input-group mb-2 mr-sm-2">
                        <div _ngcontent-qts-c2="" class="input-group-prepend">
                            <div _ngcontent-qts-c2="" class="input-group-text"><i _ngcontent-qts-c2=""
                                    class="fa fa-user" name="user"></i></div>
                        </div><input _ngcontent-qts-c2="" autofocus=""
                            class="form-control ng-pristine ng-invalid ng-touched" formcontrolname="username"
                            name="username" placeholder="Usuario" required="" length="3" type="text">
                    </div>
                    <div _ngcontent-qts-c2="" class="input-group mb-2 mr-sm-2">
                        <div _ngcontent-qts-c2="" class="input-group-prepend">
                            <div _ngcontent-qts-c2="" class="input-group-text" style="min-width:42px"><i
                                    _ngcontent-qts-c2="" class="fas fa-lock" name="lock"
                                    style="padding-left:0.2rem"></i></div>
                        </div><input _ngcontent-qts-c2="" class="form-control ng-pristine ng-invalid ng-touched"
                            formcontrolname="password" name="password" placeholder="Clave" required="" type="password">
                    </div>
                    
                    <div _ngcontent-qts-c2="" class="checkbox mb-3"><label _ngcontent-qts-c2=""></label></div>
                    <button _ngcontent-qts-c2="" class="btn btn-lg btn-primary btn-block" OnClick="myOnClickFn()">Ingresar</button>
                    <script>
                        function myOnClickFn() {
                            document.location.href="file:///C:\Users\rodri\Desktop\mpi-mesa-partes\src\app\sistema\pages\admin-page\admin-page.component.html";
                        }
                    </script>
                    <p _ngcontent-qts-c2="" class="mt-5 mb-3 text-muted">© Sub Gerencia de Informatica</p>
                </form>
            </div>
        </div>
    </div>
</div>