h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15.5cm;
    padding-top: 2cm;
    border: 5mm;
}

.img1 {
    padding-left: 5mm;
    padding-top: 3mm;
}

.img2 {
    padding-bottom: 3mm;
}